@use "../variables" as * ;
@use "../breakpoints" as *;

.formContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    height: 423px;
    border-radius: 6px;
    padding: 24px;
}

.form{
    display: flex;
    flex-direction: column;
    gap:16px;
    margin-bottom: 30px;
}

.heading{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin: 40px 0 20px 50px;
   @include heading-l;
}

.error{
    color: $red-primary;
    @include body-m
}

.fieldset{
    border: 0;
}
