@use "@/partials/variables" as *;
@use "@/partials/breakpoints" as *;

.outerDiv {
  padding-top: 65px;
  height: 100vh;
}

.columnContainer {
  min-height: 750px;
  display: flex;
  overflow-x: auto;
}

.column {
  width: 280px;
  overflow-y: auto;
}

.bigButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e9effa;
  flex-grow: 1;
  margin-top: 55px;
  border-radius: 6px;
  width: 280px;
}

.invisibleButton {
  @include heading-xl;
  cursor: pointer;
  user-select: none;
  background: none;
  color: $medium-grey;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;

  &:hover {
    color: $purple-primary;
  }
}

@include md {
  .outerDiv {
    padding-top: 96px;
    height: 100%;
  }
  .columnContainer {
    min-height: 853px;
  }
}
