@use "../partials/variables" as *;
@use "../partials/breakpoints" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  width: 100%;
  position: fixed;
  padding: 20px 16px;
}

.boardName {
  display: flex;
  align-items: center;
}

.boardName > p {
  margin: 0 8px 0 16px;
  @include heading-l;
}

.btnMenu {
  display: flex;
  align-items: center;
}

@include sm {
  .logoDesktop {
    display: none;
  }

  .btnDesktop {
    display: none;
  }
}

@include md {
  .header {
    border-bottom: 1px solid $lines-light;
  }

  .logoMobile {
    display: none;
  }

  .btnMenu .btnMobile {
    display: flex;
    width: 48px;
    height: 32px;
    display: none;
  }
}
