@use "@/partials/variables" as *;
@use "@/partials/breakpoints" as *;

.sidebar {
  border: $lines-light 1px solid;
  height: 100vh;
  background-color: $white;
  margin-top: 96px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

.subheading {
  @include heading-s;
  color: $medium-grey;
}

@include lg {
  .sidebar {
    display: flex;
    width: 300px;
  }
}

@include md {
  .sidebar {
    display: flex;
    min-width: 261px;
  }
}

// .sidebar p {
//   @include body-m;
//   color: $medium-grey;
//   letter-spacing: 2px;
// }

// .sidebar button {
//   border: none;
//   background-color: white;
//   color: $purple-primary;
//   @include body-m;
//   font-weight: 600;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .sidebarIcon {
//   font-size: 12px;
//   margin-right: 10px;
// }

// .HideSidebar {
//   background-color: $light-grey;
//   color: $medium-grey;
//   width: 240px;
//   height: 45px;
//   border-radius: 20px;
//   margin-left: -20px;
// }

// .OpenEye {
//   margin-top: 10px;
//   height: 45px;
// }
