@use "@/partials/variables" as *;
@use "@/partials/breakpoints" as *;

.outerSidebar {
  border: $lines-light 1px solid;
  height: 100vh;
  background-color: $white;
  margin-top: 96px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

// .innerSidebar {
// }

.subheading {
  @include heading-s;
  color: $medium-grey;
}

@include lg {
  .sidebar {
    display: flex;
    width: 300px;
  }
}

@include md {
  .sidebar {
    display: flex;
    min-width: 261px;
  }
}
