@use "./variables" as *;
@use "./breakpoints" as *;

.mainDiv {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  width: 343px;
  height: 659px;
  @include lg {
    width: 480px;
    height: 675px;
  }
}

.mainTitle {
  @include heading-l;
  margin: 30px 30px;
}

.sections {
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
}

.subTitle {
  @include heading-s;
  color: $medium-grey;
  margin-bottom: 5px;
}

.subtasks {
  display: flex;
  gap: 10px;
}

.xBtn {
  border: none;
  background-color: $white;
  color: $medium-grey;
  font-size: 24px;
  cursor: pointer;
  margin-top: -10px;
}
