@use "./variables" as *;

%default-style{
  @include heading-m;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $purple-primary;
  height: 40px;
  width: 416px;
  border: none;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
  cursor: pointer;

  &:hover{
    background-color: $purple-secondary;
  }
}

// buttons for modals
.default{
  @extend %default-style;
}

.secondary{
    @extend %default-style;
    color: $purple-primary;
    background-color: $button-secondary_idle;
    &:hover{
      background-color: $button-secondary_hover;
    }
}
//delete button
.danger{
  @extend %default-style;
  //color:$white;
  background-color: $red-primary;
  &:hover{
    background-color: $red-secondary;
  }
}

//Board button to add new board and new tasks
.btn-board{
  @extend %default-style;
  width: 174px;
  height: 40px;
  @include heading-m;

  &:hover{
    background-color: $purple-secondary;
  }
}

// .new_board {
//   @include heading-m;
//   background-color: $purple-primary;
//   border: none;
//   width: 174px;
//   height: 48px;
//   border-radius: 24px;
//   padding: 0;
//   margin: 0;
//   color: #ffffff;
//   user-select: none;
//   cursor: pointer;
// }

// .new_board:hover {
//   background-color: $purple-secondary;
// }

// .new_task {
//   @include heading-m;
//   background-color: $purple-primary;
//   border: none;
//   width: 164px;
//   height: 48px;
//   border-radius: 24px;
//   padding: 0;
//   margin: 0;
//   color: white;
//   user-select: none;
//   cursor: pointer;
// }

// .new_task:hover {
//   background-color: $purple-secondary;
// }

// .modal_new_board,
// .modal_save_changes {
//   @include modal-button-text;
//   background-color: $purple-primary;
//   border: none;
//   width: 416px;
//   height: 40px;
//   border-radius: 20px;
//   padding: 0;
//   margin: 0;
//   color: white;
//   user-select: none;
//   cursor: pointer;
// }

// .modal_new_board:hover {
//   background-color: $purple-secondary;
// }

// .modal_new_column {
//   @include modal-button-text;
//   background-color: $button-secondary_idle;
//   border: none;
//   width: 416px;
//   height: 40px;
//   border-radius: 20px;
//   padding: 0;
//   margin: 0;
//   color: $purple-primary;
//   user-select: none;
//   cursor: pointer;
// }

// .modal_new_column:hover {
//   background-color: $button-secondary_hover;
// }

// .modal_delete {
//   @include modal-button-text;
//   background-color: $red-primary;
//   border: none;
//   width: 200px;
//   height: 40px;
//   border-radius: 20px;
//   padding: 0;
//   margin: 0;
//   color: white;
//   user-select: none;
//   cursor: pointer;
// }

// .modal_delete:hover {
//   background-color: $red-secondary;
// }

// .modal_cancel {
//   @include modal-button-text;
//   background-color: $button-secondary_idle;
//   border: none;
//   width: 200px;
//   height: 40px;
//   border-radius: 20px;
//   padding: 0;
//   margin: 0;
//   color: $purple-primary;
//   user-select: none;
//   cursor: pointer;
// }

// .modal_cancel:hover {
//   background-color: $button-secondary_hover;
// }
