@use "./variables" as *;
@use "./breakpoints" as *;

%default-style {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  border: none;
  padding: 16px;
  margin: 0;
  user-select: none;
  cursor: pointer;
  font-weight: bold;

  &.sm {
    font-size: 13px;
  }

  &.lg {
    font-size: 15px;
  }
}

// Default button
.default {
  @extend %default-style;
  background-color: $purple-primary;
  color: $white;
  &:hover {
    background-color: $purple-secondary;
  }
}

// Add New Column, Cancel, Add Subtask
.secondary {
  @extend %default-style;
  background-color: $button-secondary_idle;
  color: $purple-primary;
  &:hover {
    background-color: $button-secondary_hover;
  }
}

// delete button
.danger {
  @extend %default-style;
  background-color: $red-primary;
  color: $white;
  &:hover {
    background-color: $red-secondary;
  }
}
