@use "./variables" as *;

// .test {
//   border: black solid 2px;
//   display: flex;
//   flex-direction: column;
//   text-align: start;
//   width: 300px;
//   align-items: center;
// }

.sections {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 5px;
}

.test {
  width: 350px;
  min-height: 88px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(54, 78, 126, 0.101545);
}

// .text_container {
//   padding: 23px 16px;
// }

// .taskname {
//   @include heading-m;
//   color: $black;
//   margin: 0;
//   margin-bottom: 8px;
// }

// .subtasks {
//   @include body-m;
//   color: $medium-grey;
//   margin: 0;
// }
