@use "./variables" as *;
@use "./breakpoints" as *;

.mainDiv {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  width: 500px;
  height: 650px;
}

.mainTitle {
  @include heading-l;
  margin: 30px 30px;
}

.sections {
  display: flex;
  flex-direction: column;
  margin: 10px 25px;
}

.subTitle {
  @include heading-s;
  color: $medium-grey;
  margin-bottom: 5px;
}

.temp {
  display: flex;
  gap: 5px;
}
