@use "./variables" as *;
@use "./breakpoints" as *;

.default {
  @include body-l;
  border-radius: 4px;
  border: 1px solid $medium-grey-25;
  box-sizing: border-box;
  padding: 8px 16px;
  color: $medium-grey;
  resize: none;
  cursor: pointer;
  &:hover {
    border-color: $purple-primary;
  }
  &:focus {
    outline: none;
  }
  &:invalid {
    border-color: $red-primary;
  }
}
