@use "@/partials/variables" as *;
@use "@/partials/breakpoints" as *;

%default {
  @include body-l;
  height: 40px;
  border-radius: 4px;
  border: 1px solid $medium-grey-25;
  box-sizing: border-box;
  padding: 8px 16px;
  color: $black;
  cursor: pointer;
  &:hover {
    border-color: $purple-primary;
  }
  &:focus {
    outline: none;
  }
  &:invalid {
    border-color: $red-primary;
  }
}

.default {
  @extend %default;
}

.small {
  @extend %default;
  width: 385px;
}
