@use "./variables" as *;
@use "./breakpoints" as *;

.mainContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid black;
  width: 343px;
  height: 659px;
  padding: 20px 20px 0px;
  background-color: white;
  @include lg {
    width: 480px;
    height: 523px;
  }
}

.mainTitle {
  font-size: 26px;
  // margin-bottom: 10px;
  display: flex;
  width: 675px;
}

.description {
  color: $medium-grey;
}

.subTitle {
  margin: 30px 0 10px 0;
  font-weight: 600;
  color: $medium-grey;
}

.sectionOne {
  display: flex;
}
